<%= stylesheet_link_tag "miyazaki1", :media => "all" %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
MIYAZAP
</title>
</head>
<body>

<h2>カロリー表示</h2>

<div style="border-style: solid ; width:90%; border-width: 2px;">
<h3 class="heading">今日の目標
<FONT size="8">
<Div Align="right">1000kcal
</Div>
</FONT>
</h3>
</div>

<br><br>

<div style="border-style: solid ; width:90%; border-width: 2px;">
<h3 class="heading">累計(3日目)
<FONT size="8">
<Div Align="right">2531kcal
</Div>
</FONT>
</h3>
</div>

<div style="text-align:right">

<div style="float:left">
	<br>
<a href="https://www.instagram.com"><%= image_tag("insta.png") %></a>
</div>

<div>
  <a href="/heart_beats/graph" class="button">
<span style="border-style: solid; border-width: 3px;padding: 0px 0px 0px 0px; border-radius: 10px;">心拍数</span></a>
</div>

</div>
</body>
</html>
