<link rel="stylesheet" type="text/css" href="miyazaki5.css">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
MIYAZAP
</title>
</head>
<body>
<p class="miyazap">
<img src="../../../../../Downloads/miyazaki.zip/miyazap.jpg" alt="タイトルロゴ">
</p>

<div class="ranking">

<FONT size="5">
<h2>今日までのランキング</h2>
</FONT>


<ol>
<li class="rank1">1位項目のサンプルテキスト</li>
<li class="rank2">2位項目のサンプルテキスト</li>
<div style="background: #FFB6C1; width:300px; border: 1px solid #CC0000; height:80％; padding-left:1px; padding-right:1px; padding-top:10px; padding-bottom:10px;">
<li class="rank3">3位項目のサンプルテキスト</li></div>
<li class="rank4">4位項目のサンプルテキスト</li>
<li class="rank5">5位項目のサンプルテキスト</li>
</ol>
</div>

<div style="text-align:right">

<div style="float:left">
<a href="miyazaki4.html" class="button">
<FONT size="5">
<span style="border-style: solid; border-width: 3px;padding: 0px 0px 0px 0px; border-radius: 10px;">日別心拍数</span></FONT></a>
</div>

<div>
  <a href="miyazaki1.html" class="button">
  <FONT size="5">
<span style="border-style: solid; border-width: 3px;padding: 0px 0px 0px 0px; border-radius: 10px;">カロリー</span></FONT></a>
</div>

</div>

</body>
</html>