<link rel="stylesheet" type="text/css" href="miyazaki3.css">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
MIYAZAP
</title>
</head>
<body>

<div class="ranking">
<FONT size="5">
<h2>今日のランキング</h2>
</FONT>

<ol>
<li class="rank1">1位 あきちゃん</li>
<li class="rank2">2位 ひろし</li>
<div style="background: #FFB6C1; width:100%; border: 1px solid #CC0000; height:100％; padding-left:1px; padding-right:1px; padding-top:10px; padding-bottom:10px;">
<li class="rank3">3位 まゆちゃん</li></div>
<li class="rank4">4位 めぐちゃん</li>
<li class="rank5">5位 ゆきりん</li>
</ol>

</div>

<div style="text-align:right">

<div style="float:left">
<a href="/calories" class="button" style="text-decoration: none;">
<FONT size="5">
<span>カロリー</span></FONT></a>
</div>

<div>
  <a href="/heart_beats/graph" class="button" style="text-decoration: none;">
  <FONT size="5">
<span>日別心拍数</span></FONT></a>
</div>


</body>
</html>
