<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<script src="../../../../../Downloads/html/js/jquery.min.js"></script>

<script>
var host = "localhost"
var healthurl1 = "http://" + host + ":4035/gotapi/servicediscovery"
var healthurl2 = "http://" + host + ":4035/gotapi/health/heartrate?serviceId="
var serviceId = "F3:3B:15:7E:29:BB.e9484eb5107adfef1af6a0dc65c03232.localhost.deviceconnect.org"
var railsurl = "/heart_beats"
var i = 0
$(function() {
	$.ajaxSetup({async: false});
            $.getJSON(healthurl2 + serviceId, function(date){
            	heartRate = date.heartRate;
            });
        var xhr= new XMLHttpRequest();
	xhr.open("GET",railsurl + "?heart_beat="+ heartRate);
        xhr.send();
        $.ajaxSetup({async: true});
});
</script>

</head>
<body>
計測中
<script>
$(function(){
	setTimeout(function(){
window.location.reload( true ) ;
	},5000);
});
</script>
</body>
</html>